<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/layout/layout.css}">

	<!--JS読み込み-->
	<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
</head>

<body>
	<!--ヘッダー-->
	<nav layout:replace="~{layout/header::header}"></nav>

	<!--コンテンツ-->
	<div layout:fragment="content" class="content"></div>
		
	<!--フッター-->
	<footer>
		<p>&COPY;2023/XX/XX</p>
	</footer>

</body>

</html>